<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>ServletData.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Assettype_Servlet</servlet-name>
        <servlet-class>ServletData.Assettype_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_Servlet</servlet-name>
        <servlet-class>ServletData.Edit_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test_servlet</servlet-name>
        <servlet-class>ServletData.test_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainSearch_Servlet</servlet-name>
        <servlet-class>ServletData.MainSearch_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Assettype_Servlet</servlet-name>
        <url-pattern>/Assettype_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_Servlet</servlet-name>
        <url-pattern>/Edit_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test_servlet</servlet-name>
        <url-pattern>/test_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainSearch_Servlet</servlet-name>
        <url-pattern>/MainSearch_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
